--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
streamlit
pandas
numpy<2.0.0
Pillow
PyMuPDF
opencv-contrib-python-headless
scikit-image
imutils
ultralytics
easyocr
zxing-cpp
rapidfuzz
XlsxWriter
